<a href="https://colab.research.google.com/github/yskkwi/adding-up/blob/master/Python%E8%87%AA%E7%84%B6%E8%A8%80%E8%AA%9E%E5%87%A6%E7%90%86%EF%BC%91%EF%BC%90%EF%BC%91%E6%9C%AC%E3%83%8E%E3%83%83%E3%82%AF%E3%81%9D%E3%81%AE%EF%BC%91_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第１章　文字列処理

In [ ]:
# 2020/6/20 の神草ツイート５つ

tw_strings = ["""
今日から、100 #numpy  exercisesを始めます！
3. Create a null vector of size 10

a = np.zeros(10)
print(a)

#python
#プログラミング初心者
#Progate
#駆け出しエンジニアと繋がりたい""",
"""
今日から、100 #numpy  exercisesを始めます！

2. Print the numpy version and the configuration

print(np.__version__)
print(np.show_config())

#python
#プログラミング初心者
#Progate
#駆け出しエンジニアと繋がりたい""",
"""
今日から、100 #numpy  exercisesを始めます！
何か勉強してないと落ち着かない勉強中毒になりつつある...

1. Import the numpy package under the name np

import numpy as np

#python
#プログラミング初心者
#Progate
#駆け出しエンジニアと繋がりたい""",
"""
自分は何のために休日も個人開発や書籍書いてるんだろうって思ってたら、竹花さんのスピーチ見つけた。

「好きなことして得た3000円の価値は、好きじゃないことして得た30万円よりも大きい。」

https://youtube.com/watch?v=duv1D2-v4Uc

#python
#プログラミング初心者
#Progate
#駆け出しエンジニアと繋がりたい""",
"""
#JDLA #G検定　2週間後に受けようと思っていて黒本も白本も終わった方はこちらで腕試ししてみてください！

あと一点で合格ということがないように！

225問本番の形式で受けれるサイトです。

http://bit.ly/2QfvJwO

http://amzn.to/2znu2Wp（模試解説）

#駆け出しエンジニアと繋がりたい"""]
print(len(tw_strings))

5

##０１： リスト内の特定文字列を含む要素の数

2020/6/20 の神草ツイート５つのうち「#プログラミング初心者」という文字列を含むツイートの数を計算するプログラムを書いてください。

答え）

In [ ]:
print(len([e for e in tw_strings if "#プログラミング初心者" in e]))

4

１）リストの要素群が特定の文字列を含むかどうかの判定

In [ ]:
if "文字列1" in ["文字列2", "文字列3" ]:
  print(True)
else:
  print(False)

False

２）リスト内包表記

プログラム０１ーA)

In [ ]:
plus1 = []
for i in [1,2,3,4,5]:
  plus1.append(i+1)
print(plus1)

[2, 3, 4, 5, 6]

プログラム０１ーB）

In [ ]:
plus1 = [i+1 for i in [1,2,3,4,5]]
print(plus1)

[2, 3, 4, 5, 6]

プログラム０１ーC）

In [ ]:
plus1 = [i+1 for i in [1,2,3,4,5] if i >= 3]
print(plus1)

[4, 5, 6]

In [ ]:
print([i+1 for i in [1,2,3,4,5] if i >= 3])

[4, 5, 6]

プログラム０１ーD）

In [ ]:
print(len([i+1 for i in [1,2,3,4,5] if i >= 3]))

3

##０２：リスト内の各要素の文字数

2020/6/20 の神草ツイート５つの各ツイートの文字数を順に出力せよ。

答え）

In [ ]:
print([len(e) for e in tw_strings])

[142, 177, 177, 183, 169]

等価コード（内包表記を使わないとこうなる）

In [ ]:
l = []
for e in tw_strings:
  l.append(len(e))
print(l)

[142, 186, 178, 184, 170]

##０３：改行コードでツイート分割

In [ ]:
divided_tws = []
for tw in tw_strings:
  tws = tw.split("\n")
  #空のみの要素除外
  divided_tws += [t for t in tws if t != '']
  
print(len(divided_tws))
print(divided_tws[0:5])

37
['今日から、100 #numpy  exercisesを始めます！', '3. Create a null vector of size 10', 'a = np.zeros(10)', 'print(a)', '#python']

プログラム０３ーA）

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
l4 = []
l4.append(l1)
l4.append(l2)
print(l4)

[[1, 2, 3], [4, 5, 6]]

##０４：ハッシュタグ抽出

In [ ]:
tw_strings

['\n今日から、100 #numpy  exercisesを始めます！\n3. Create a null vector of size 10\n\na = np.zeros(10)\nprint(a)\n\n#python\n#プログラミング初心者\n#Progate\n#駆け出しエンジニアと繋がりたい',
 '\n今日から、100 #numpy  exercisesを始めます！\n\n2. Print the numpy version and the configuration\n\nprint(np.__version__)\nprint(http://np.show_config())\n\n#python\n#プログラミング初心者\n#Progate\n#駆け出しエンジニアと繋がりたい',
 '\n今日から、100 #numpy  exercisesを始めます！\n何か勉強してないと落ち着かない勉強中毒になりつつある...\n\n1. Import the numpy package under the name np\n\nimport numpy as np\n\n#python\n#プログラミング初心者\n#Progate\n#駆け出しエンジニアと繋がりたい',
 '\n自分は何のために休日も個人開発や書籍書いてるんだろうって思ってたら、竹花さんのスピーチ見つけた。\n\n「好きなことして得た3000円の価値は、好きじゃないことして得た30万円よりも大きい。」\n\nhttps://youtube.com/watch?v=duv1D2-v4Uc\n\n#python\n#プログラミング初心者\n#Progate\n#駆け出しエンジニアと繋がりたい',
 '\n#JDLA #G検定\u30002週間後に受けようと思っていて黒本も白本も終わった方はこちらで腕試ししてみてください！\n\nあと一点で合格ということがないように！\n\n225問本番の形式で受けれるサイトです。\n\nhttp://bit.ly/2QfvJwO\n\nhttp://amzn.to/2znu2Wp（模試解説）\n\n#駆け出しエンジニアと繋がりたい']

In [ ]:
r = ''.join(tw_strings)
hashes = []
while True:
  k = r.find("#")
  if k == -1:
    break
  l = r[k:].find(" ")
  m = r[k:].find("\n")
  n = r[k:].find("　")
  if l == m == n == -1:
    hashes.append(r[k+1:])
    break
  fetch = k + min([idx for idx in [l, m, n] if idx != -1])
  hashes.append(r[k+1:fetch])
  r = r[fetch:]
print(sorted(list(set(hashes)), key=hashes.index))

['numpy', 'python', 'プログラミング初心者', 'Progate', '駆け出しエンジニアと繋がりたい', 'JDLA', 'G検定']

##０５：URL抽出

In [ ]:
def get_urls(strings, ssl_flg=True):
  """ 引数で渡した文字列からhttp(s)://で始まるURLを抜き出しリストで返却する
    
    Args:
      strings(str): 解析対象文字列
      ssl_flg(boolean)： http://で始まるURLかhttps://で始まるURLか（デフォルトhttps）
    
    Returns:
      URLリスト
  """
  target = "http://"
  if ssl_flg:
    target = "https://"
  r = strings
  hashes = []  
  while True:
    k = r.find(target)
    if k == -1:
      break
    l = r[k:].find(" ")
    m = r[k:].find("\n")
    n = r[k:].find("　")
    o = r[k:].find("（")
    if l == m == n == o == -1:
      hashes.append(r[k:])
      break
    fetch = k + min([idx for idx in [l, m, n, o] if idx != -1])
    hashes.append(r[k:fetch])
    r = r[fetch:]
  return sorted(list(set(hashes)), key=hashes.index)

strings = ''.join(tw_strings)
print(get_urls(strings, False))
print(get_urls(strings, True))

['http://bit.ly/2QfvJwO', 'http://amzn.to/2znu2Wp']
['https://youtube.com/watch?v=duv1D2-v4Uc']

##０６：2-gram

In [ ]:
def bigram(s):
  return [(s[i], s[i+1]) for i in range(len(s)) if i+1 < len(s)]

print(bigram(tw_strings[0]))

[('\n', '今'), ('今', '日'), ('日', 'か'), ('か', 'ら'), ('ら', '、'), ('、', '1'), ('1', '0'), ('0', '0'), ('0', ' '), (' ', '#'), ('#', 'n'), ('n', 'u'), ('u', 'm'), ('m', 'p'), ('p', 'y'), ('y', ' '), (' ', ' '), (' ', 'e'), ('e', 'x'), ('x', 'e'), ('e', 'r'), ('r', 'c'), ('c', 'i'), ('i', 's'), ('s', 'e'), ('e', 's'), ('s', 'を'), ('を', '始'), ('始', 'め'), ('め', 'ま'), ('ま', 'す'), ('す', '！'), ('！', '\n'), ('\n', '3'), ('3', '.'), ('.', ' '), (' ', 'C'), ('C', 'r'), ('r', 'e'), ('e', 'a'), ('a', 't'), ('t', 'e'), ('e', ' '), (' ', 'a'), ('a', ' '), (' ', 'n'), ('n', 'u'), ('u', 'l'), ('l', 'l'), ('l', ' '), (' ', 'v'), ('v', 'e'), ('e', 'c'), ('c', 't'), ('t', 'o'), ('o', 'r'), ('r', ' '), (' ', 'o'), ('o', 'f'), ('f', ' '), (' ', 's'), ('s', 'i'), ('i', 'z'), ('z', 'e'), ('e', ' '), (' ', '1'), ('1', '0'), ('0', '\n'), ('\n', '\n'), ('\n', 'a'), ('a', ' '), (' ', '='), ('=', ' '), (' ', 'n'), ('n', 'p'), ('p', '.'), ('.', 'z'), ('z', 'e'), ('e', 'r'), ('r', 'o'), ('o', 's'), ('s', '('), ('(', '1'), ('1', '0'), ('0', ')'), (')', '\n'), ('\n', 'p'), ('p', 'r'), ('r', 'i'), ('i', 'n'), ('n', 't'), ('t', '('), ('(', 'a'), ('a', ')'), (')', '\n'), ('\n', '\n'), ('\n', '#'), ('#', 'p'), ('p', 'y'), ('y', 't'), ('t', 'h'), ('h', 'o'), ('o', 'n'), ('n', '\n'), ('\n', '#'), ('#', 'プ'), ('プ', 'ロ'), ('ロ', 'グ'), ('グ', 'ラ'), ('ラ', 'ミ'), ('ミ', 'ン'), ('ン', 'グ'), ('グ', '初'), ('初', '心'), ('心', '者'), ('者', '\n'), ('\n', '#'), ('#', 'P'), ('P', 'r'), ('r', 'o'), ('o', 'g'), ('g', 'a'), ('a', 't'), ('t', 'e'), ('e', '\n'), ('\n', '#'), ('#', '駆'), ('駆', 'け'), ('け', '出'), ('出', 'し'), ('し', 'エ'), ('エ', 'ン'), ('ン', 'ジ'), ('ジ', 'ニ'), ('ニ', 'ア'), ('ア', 'と'), ('と', '繋'), ('繋', 'が'), ('が', 'り'), ('り', 'た'), ('た', 'い')]

In [ ]:
def unigram(s):
  return [(s[i],) for i in range(len(s))]

def bigram(s):
  return [(s[i], s[i+1]) for i in range(len(s)) if i+1 < len(s)]

def trigram(s):
  return [(s[i], s[i+1], s[i+2]) for i in range(len(s)) if i+2 < len(s)]

def tetragram(s):
  return [(s[i], s[i+1], s[i+2], s[i+3]) for i in range(len(s)) if i+3 < len(s)]

def pentagram(s):
  return [(s[i], s[i+1], s[i+2], s[i+3], s[i+4]) for i in range(len(s)) if i+4 < len(s)]


s = "新型コロナのワクチンが早く欲しい。"
print(unigram(s))
print(bigram(s))
print(trigram(s))
print(tetragram(s))
print(pentagram(s))

[('新',), ('型',), ('コ',), ('ロ',), ('ナ',), ('の',), ('ワ',), ('ク',), ('チ',), ('ン',), ('が',), ('早',), ('く',), ('欲',), ('し',), ('い',), ('。',)]
[('新', '型'), ('型', 'コ'), ('コ', 'ロ'), ('ロ', 'ナ'), ('ナ', 'の'), ('の', 'ワ'), ('ワ', 'ク'), ('ク', 'チ'), ('チ', 'ン'), ('ン', 'が'), ('が', '早'), ('早', 'く'), ('く', '欲'), ('欲', 'し'), ('し', 'い'), ('い', '。')]
[('新', '型', 'コ'), ('型', 'コ', 'ロ'), ('コ', 'ロ', 'ナ'), ('ロ', 'ナ', 'の'), ('ナ', 'の', 'ワ'), ('の', 'ワ', 'ク'), ('ワ', 'ク', 'チ'), ('ク', 'チ', 'ン'), ('チ', 'ン', 'が'), ('ン', 'が', '早'), ('が', '早', 'く'), ('早', 'く', '欲'), ('く', '欲', 'し'), ('欲', 'し', 'い'), ('し', 'い', '。')]
[('新', '型', 'コ', 'ロ'), ('型', 'コ', 'ロ', 'ナ'), ('コ', 'ロ', 'ナ', 'の'), ('ロ', 'ナ', 'の', 'ワ'), ('ナ', 'の', 'ワ', 'ク'), ('の', 'ワ', 'ク', 'チ'), ('ワ', 'ク', 'チ', 'ン'), ('ク', 'チ', 'ン', 'が'), ('チ', 'ン', 'が', '早'), ('ン', 'が', '早', 'く'), ('が', '早', 'く', '欲'), ('早', 'く', '欲', 'し'), ('く', '欲', 'し', 'い'), ('欲', 'し', 'い', '。')]
[('新', '型', 'コ', 'ロ', 'ナ'), ('型', 'コ', 'ロ', 'ナ', 'の'), ('コ', 'ロ', 'ナ', 'の', 'ワ'), ('ロ', 'ナ', 'の', 'ワ', 'ク'), ('ナ', 'の', 'ワ', 'ク', 'チ'), ('の', 'ワ', 'ク', 'チ', 'ン'), ('ワ', 'ク', 'チ', 'ン', 'が'), ('ク', 'チ', 'ン', 'が', '早'), ('チ', 'ン', 'が', '早', 'く'), ('ン', 'が', '早', 'く', '欲'), ('が', '早', 'く', '欲', 'し'), ('早', 'く', '欲', 'し', 'い'), ('く', '欲', 'し', 'い', '。')]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(1,5))

[1, 2, 3, 4]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

##０７：n-gram

In [ ]:
def ngram(s, n):
  """ ngramを計算して返却

    Args:
      s(str):解析対象文字列
      n(int):n
    Returns:
      ngram(list):n-gramリスト

  """
  ngram = []
  for i in range(len(s)):
    if i + n >= len(s):
      break
    tpl = tuple()
    for j in range(n):
      tpl += (s[i+j],)
    ngram.append(tpl)
  return ngram
s = "新型コロナのワクチンが早く欲しい。"
print(ngram(s, 3))

[('新', '型', 'コ'), ('型', 'コ', 'ロ'), ('コ', 'ロ', 'ナ'), ('ロ', 'ナ', 'の'), ('ナ', 'の', 'ワ'), ('の', 'ワ', 'ク'), ('ワ', 'ク', 'チ'), ('ク', 'チ', 'ン'), ('チ', 'ン', 'が'), ('ン', 'が', '早'), ('が', '早', 'く'), ('早', 'く', '欲'), ('く', '欲', 'し'), ('欲', 'し', 'い')]

##０８：n-gramの集計

In [ ]:
def divide_by_ret(lst):
  divided_tws = []
  for tw in lst:
    tws = tw.split("\n")
    #空のみの要素除外
    divided_tws += [t for t in tws if t != '']
  return divided_tws
divide_by_ret(["""人生の意味は行動を起こすことにある。
そう思いませんか？
""", "Action Cures Fear!"])

['人生の意味は行動を起こすことにある。', 'そう思いませんか？', 'Action Cures Fear!']

In [ ]:
def get_hashtag(s):
  hashes = []
  r = s
  while True:
    k = r.find("#")
    if k == -1:
      break
    l = r[k:].find(" ")
    m = r[k:].find("\n")
    n = r[k:].find("　")
    if l == m == n == -1:
      hashes.append(r[k+1:])
      break
    fetch = k + min([idx for idx in [l, m, n] if idx != -1])
    hashes.append(r[k+1:fetch])
    r = r[fetch:]
  return sorted(list(set(hashes)), key=hashes.index)

get_hashtag("最近、ワクチンの話題が少なくなってるにゃ。#ワクチン #コロナ")

['ワクチン', 'コロナ']

In [ ]:
def exclude(s, lst):
  for exc in lst:
    s = s.replace(exc, '')
  return s
exclude_list = ["失敗"]
exclude("私の辞書に「」という文字はない、「成功」に向かって一つ実験結果を得ただけだ。", exclude_list)

'私の辞書に「」という文字はない、「成功」に向かって一つ実験結果を得ただけだ。'

In [ ]:
def divide_by_ret(lst):
  divided_tws = []
  for tw in lst:
    tws = tw.split("\n")
    #空のみの要素除外
    divided_tws += [t for t in tws if t != '']
  return divided_tws
  
def get_hashtag(s):
  hashes = []
  r = s
  while True:
    k = r.find("#")
    if k == -1:
      break
    l = r[k:].find(" ")
    m = r[k:].find("\n")
    n = r[k:].find("　")
    if l == m == n == -1:
      hashes.append(r[k+1:])
      break
    fetch = k + min([idx for idx in [l, m, n] if idx != -1])
    hashes.append(r[k+1:fetch])
    r = r[fetch:]
  return sorted(list(set(hashes)), key=hashes.index)

def exclude(s, lst):
  for exc in lst:
    s = s.replace(exc, '')
  return s

tw_str =''.join(tw_strings)

hashes = get_hashtag(tw_str)
urls = get_urls(tw_str)
remove_symbols = ['\n', '.', '=', ' ', '　', '#', '(', ')', '-', '/', ':', '?', '、', '「', '」', '_', '！', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
remove_lower_alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
remove_upper_alphabet = ['A', 'B', 'C', 'C', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

divided_tws = divide_by_ret(tw_strings)

pgrams = []
for tw in divided_tws:
  target = exclude(tw, hashes)
  target = exclude(target, urls)
  target = exclude(target, remove_symbols)
  target = exclude(target, remove_lower_alphabet)
  target = exclude(target, remove_upper_alphabet)
  if target:
    pgrams+= ngram(target, 5)

dic = {}
for pgram in pgrams:
  if pgram not in dic:
    dic[pgram] = 1
  else:
    dic[pgram] += 1
sorted(dic.items(), key=lambda x:-x[1])[:10]

[(('今', '日', 'か', 'ら', 'を'), 3),
 (('日', 'か', 'ら', 'を', '始'), 3),
 (('か', 'ら', 'を', '始', 'め'), 3),
 (('ら', 'を', '始', 'め', 'ま'), 3),
 (('こ', 'と', 'し', 'て', '得'), 2),
 (('と', 'し', 'て', '得', 'た'), 2),
 (('何', 'か', '勉', '強', 'し'), 1),
 (('か', '勉', '強', 'し', 'て'), 1),
 (('勉', '強', 'し', 'て', 'な'), 1),
 (('強', 'し', 'て', 'な', 'い'), 1)]

##０９：集合

In [ ]:
def pentagram_set(s):
  return {(s[i], s[i+1], s[i+2], s[i+3], s[i+4]) for i in range(len(s)) if i+4 < len(s)}
s1 = pentagram_set("駆け出しエンジニアと繋がりたい")
s2 = pentagram_set("フルスタックエンジニアと繋がりたい")
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(("エ","ン","ジ","ニ","ア") in s1)
print(("エ","ン","ジ","ニ","ア") in s2)

{('駆', 'け', '出', 'し', 'エ'), ('ッ', 'ク', 'エ', 'ン', 'ジ'), ('け', '出', 'し', 'エ', 'ン'), ('ク', 'エ', 'ン', 'ジ', 'ニ'), ('ル', 'ス', 'タ', 'ッ', 'ク'), ('エ', 'ン', 'ジ', 'ニ', 'ア'), ('ス', 'タ', 'ッ', 'ク', 'エ'), ('し', 'エ', 'ン', 'ジ', 'ニ'), ('繋', 'が', 'り', 'た', 'い'), ('ジ', 'ニ', 'ア', 'と', '繋'), ('ニ', 'ア', 'と', '繋', 'が'), ('タ', 'ッ', 'ク', 'エ', 'ン'), ('ン', 'ジ', 'ニ', 'ア', 'と'), ('フ', 'ル', 'ス', 'タ', 'ッ'), ('ア', 'と', '繋', 'が', 'り'), ('出', 'し', 'エ', 'ン', 'ジ'), ('と', '繋', 'が', 'り', 'た')}
{('繋', 'が', 'り', 'た', 'い'), ('ニ', 'ア', 'と', '繋', 'が'), ('ジ', 'ニ', 'ア', 'と', '繋'), ('ン', 'ジ', 'ニ', 'ア', 'と'), ('ア', 'と', '繋', 'が', 'り'), ('エ', 'ン', 'ジ', 'ニ', 'ア'), ('と', '繋', 'が', 'り', 'た')}
{('し', 'エ', 'ン', 'ジ', 'ニ'), ('け', '出', 'し', 'エ', 'ン'), ('駆', 'け', '出', 'し', 'エ'), ('出', 'し', 'エ', 'ン', 'ジ')}
True
True

# 第２章　UNIXコマンドとpandas

In [ ]:
import pandas as pd

group_pinfo = [
    { 
        "ID" : 1,
      "名前" : "輝彦",
      "年齢" : "23",
      "性別" : "男"
    },
    { 
      "ID" : 2,
      "名前" : "歩",
      "年齢" : "21",
      "性別" : "女"
    },
    { 
      "ID" : 3,
      "名前" : "二郎",
      "年齢" : "53",
      "性別" : "男"
    },
    {
      "ID" : 4,
      "名前" : "久志",
      "年齢" : "48",
      "性別" : "女"
    },
    {
      "ID" : 5,
      "名前" : "拓郎",
      "年齢" : "28",
      "性別" : "男"
    }
]

group_binfo = [
    { 
        "ID" : 1,
      "担当" : "ボーカル",
      "趣味" : "ツイッター",
    },
    { 
      "ID" : 2,
      "担当" : "ボーカル",
      "趣味" : "犬の散歩",
    },
    { 
      "ID" : 3,
      "担当" : "ベース",
      "趣味" : "写真"
    },
    {
      "ID" : 4,
      "担当" : "ギター",
      "趣味" : "メカニック"
    },
    {
      "ID" : 5,
      "担当" : "ギター",
      "趣味" : "執筆活動"
    }
]
df1 = pd.DataFrame(group_pinfo)
df2 = pd.DataFrame(group_binfo)

df1.to_csv('group_pinfo.csv', index=None)
df2.to_csv('group_binfo.csv', index=None)

In [ ]:
!ls group_pinfo.csv
!ls group_binfo.csv

group_pinfo.csv
group_binfo.csv

##１０：行数のカウント

In [ ]:
!head -3 "group_pinfo.csv"
!head -3 "group_binfo.csv"

ID,名前,年齢,性別
1,輝彦,23,男
2,歩,21,女
ID,担当,趣味
1,ボーカル,ツイッター
2,ボーカル,犬の散歩

In [ ]:
import pandas as pd
df1 = pd.read_csv("group_pinfo.csv", index_col=0)
df2 = pd.read_csv("group_binfo.csv", index_col=0)

print(df1.head(2))
print(df2.head(2))

    名前  年齢 性別
ID
1   輝彦  23  男
2    歩  21  女
      担当     趣味
ID
1   ボーカル  ツイッター
2   ボーカル   犬の散歩

##１１：レコード数

In [ ]:
!tail -n+2 group_pinfo.csv|wc -l

5

In [ ]:
!tail -1 group_pinfo.csv

5,拓郎,28,男

In [ ]:
!tail -n +2 group_pinfo.csv

1,輝彦,23,男
2,歩,21,女
3,二郎,53,男
4,久志,48,女
5,拓郎,28,男

In [ ]:
!echo -e "猫 犬\nりんご　かぼちゃ　なす"

猫 犬
りんご　かぼちゃ　なす

In [ ]:
!echo -e "猫 犬\nりんご　かぼちゃ　なす"|wc

      2       5      42

In [ ]:
!echo -e "猫 犬\nりんご　かぼちゃ　なす"|wc -l

2

In [ ]:
!echo -e "猫 犬\nりんご　かぼちゃ　なす"|wc -w

5

In [ ]:
!echo -e "猫 犬\nりんご　かぼちゃ　なす"|wc -c

42

In [ ]:
!echo -e "猫 犬\nりんご　かぼちゃ　なす"|wc -m

16

In [ ]:
import pandas as pd

df1 = pd.read_csv("group_pinfo.csv", index_col=0)
len(df1)

5

##１２：2つのファイルをIDをキーにして結合

In [ ]:
!join -j 1 -t, "group_pinfo.csv" "group_binfo.csv" > "group_pbinfo.csv"

In [ ]:
import pandas as pd
df1 = pd.read_csv("group_pinfo.csv", index_col=0)
df2 = pd.read_csv("group_binfo.csv", index_col=0)

df3 = pd.merge(df1, df2, on='ID', how='inner')
df3.to_csv("group_pbinfo.csv")

In [ ]:
!cat group_pbinfo.csv

ID,名前,年齢,性別,担当,趣味
1,輝彦,23,男,ボーカル,ツイッター
2,歩,21,女,ボーカル,犬の散歩
3,二郎,53,男,ベース,写真
4,久志,48,女,ギター,メカニック
5,拓郎,28,男,ギター,執筆活動

##１３：カンマをスペースに置換

In [ ]:
!sed 's/,/ /g' "group_pbinfo.csv"

ID 名前 年齢 性別 担当 趣味
1 輝彦 23 男 ボーカル ツイッター
2 歩 21 女 ボーカル 犬の散歩
3 二郎 53 男 ベース 写真
4 久志 48 女 ギター メカニック
5 拓郎 28 男 ギター 執筆活動

In [ ]:
!cat "group_pbinfo.csv" | tr ',' ' '

ID 名前 年齢 性別 担当 趣味
1 輝彦 23 男 ボーカル ツイッター
2 歩 21 女 ボーカル 犬の散歩
3 二郎 53 男 ベース 写真
4 久志 48 女 ギター メカニック
5 拓郎 28 男 ギター 執筆活動

In [ ]:
import pandas as pd
df_pb = pd.read_csv("group_pbinfo.csv", index_col=0)
df_pb.to_csv("group_pbinfo_space.csv", sep=" ")
!cat "group_pbinfo_space.csv"

ID 名前 年齢 性別 担当 趣味
1 輝彦 23 男 ボーカル ツイッター
2 歩 21 女 ボーカル 犬の散歩
3 二郎 53 男 ベース 写真
4 久志 48 女 ギター メカニック
5 拓郎 28 男 ギター 執筆活動

##１４：列の抜き出し

In [ ]:
!cat group_pbinfo.csv |cut --delim="," -f2 > col1.txt
!cat group_pbinfo.csv |cut --delim="," -f6 > col2.txt

!cat col1.txt
!echo '---'
!cat col2.txt

名前
輝彦
歩
二郎
久志
拓郎
---
趣味
ツイッター
犬の散歩
写真
メカニック
執筆活動

In [ ]:
import pandas as pd
df_pb = pd.read_csv("group_pbinfo.csv", index_col=0)
df_pb['名前'].to_csv('col1.txt', index=None)
df_pb['趣味'].to_csv('col2.txt', index=None)

!cat col1.txt
!echo '---'
!cat col2.txt

名前
輝彦
歩
二郎
久志
拓郎
---
趣味
ツイッター
犬の散歩
写真
メカニック
執筆活動

In [ ]:
type(df_pb['名前'])

pandas.core.series.Series

##１５：行を挿入

In [ ]:
!cat group_pbinfo.csv

ID,名前,年齢,性別,担当,趣味
1,輝彦,23,男,ボーカル,ツイッター
2,歩,21,女,ボーカル,犬の散歩
3,二郎,53,男,ベース,写真
4,久志,48,女,ギター,メカニック
5,拓郎,28,男,ギター,執筆活動

In [ ]:
cat group_pbinfo.csv |sed -e "2a 6,としお,54,男,ボーカル,クッキング"

ID,名前,年齢,性別,担当,趣味
1,輝彦,23,男,ボーカル,ツイッター
6,としお,54,男,ボーカル,クッキング
2,歩,21,女,ボーカル,犬の散歩
3,二郎,53,男,ベース,写真
4,久志,48,女,ギター,メカニック
5,拓郎,28,男,ギター,執筆活動

In [ ]:
import pandas as pd
df_pb = pd.read_csv("group_pbinfo.csv")
df_pb1 = df_pb.iloc[:1, :]
df_pb2 = df_pb.iloc[1:, :]
dfi = pd.DataFrame([{"ID":6, "名前" : "としお", "年齢" : 54, "性別" : "男", "担当" : "ボーカル", "趣味" : "クッキング"}], index=[6])
df_con = pd.concat([df_pb1, dfi, df_pb2]).set_index('ID')
print(df_con)

     名前  年齢 性別    担当     趣味
ID
1    輝彦  23  男  ボーカル  ツイッター
6   としお  54  男  ボーカル  クッキング
2     歩  21  女  ボーカル   犬の散歩
3    二郎  53  男   ベース     写真
4    久志  48  女   ギター  メカニック
5    拓郎  28  男   ギター   執筆活動

##１６：ファイルを２分割する

In [ ]:
!split -n 2 group_pbinfo.csv pn-
!cat pn-aa
!cat pn-ab

ID,名前,年齢,性別,担当,趣味
1,輝彦,23,男,ボーカル,ツイッター
2,歩,21,女,ボーカル,犬の散歩
3,二郎,53,男,ベース,写真
4,久志,48,女,ギター,メカニック
5,拓郎,28,男,ギター,執筆活動

In [ ]:
import pandas as pd
df_pbi = pd.read_csv('group_pbinfo.csv')
n = 2
div_idx = len(df_pbi)//n
df_pbi.iloc[0:div_idx, :].to_csv('pbi_aa.csv', index=None)
df_pbi.iloc[div_idx:, :].to_csv('pbi_ab.csv', header=None, index=None)
!cat pbi_aa.csv
!cat pbi_ab.csv

ID,名前,年齢,性別,担当,趣味
1,輝彦,23,男,ボーカル,ツイッター
2,歩,21,女,ボーカル,犬の散歩
3,二郎,53,男,ベース,写真
4,久志,48,女,ギター,メカニック
5,拓郎,28,男,ギター,執筆活動

In [ ]:
import pandas as pd
df_pbi = pd.read_csv('group_pbinfo.csv')
n = 3

div_idx = len(df_pbi)//n

i = 1
start_idx = 0
end_idx = div_idx
while True:
  if i == n:
    df_pbi.iloc[start_idx:, :].to_csv(f'pbi_{str(i).zfill(2)}.csv', index=None)
    break
  df_pbi.iloc[start_idx:end_idx, :].to_csv(f'pbi_{str(i).zfill(2)}.csv', index=None)
  start_idx += div_idx
  end_idx += div_idx 
  i += 1

!cat pbi_01.csv
!cat pbi_02.csv
!cat pbi_03.csv

ID,名前,年齢,性別,担当,趣味
1,輝彦,23,男,ボーカル,ツイッター
ID,名前,年齢,性別,担当,趣味
2,歩,21,女,ボーカル,犬の散歩
ID,名前,年齢,性別,担当,趣味
3,二郎,53,男,ベース,写真
4,久志,48,女,ギター,メカニック
5,拓郎,28,男,ギター,執筆活動

##１７：特定列のユニークな要素

In [ ]:
!tail -n+2 group_pbinfo.csv |cut --delim="," -f5|uniq -i

ボーカル
ベース
ギター

In [ ]:
import pandas as pd
df = pd.read_csv('group_pbinfo.csv')
print(df.iloc[:, 4].unique())

['ボーカル' 'ベース' 'ギター']

In [ ]:
import pandas as pd
df = pd.read_csv('group_pbinfo.csv')
print(df["担当"].unique())

['ボーカル' 'ベース' 'ギター']

In [ ]:
df.columns

Index(['ID', '名前', '年齢', '性別', '担当', '趣味'], dtype='object')

##１８：数値の降順ソート

In [ ]:
!tail -n+2 group_pbinfo.csv|sort -r -n -k 3 -t","

3,二郎,53,男,ベース,写真
4,久志,48,女,ギター,メカニック
5,拓郎,28,男,ギター,執筆活動
1,輝彦,23,男,ボーカル,ツイッター
2,歩,21,女,ボーカル,犬の散歩

In [ ]:
import pandas as pd
df = pd.read_csv("group_pbinfo.csv")
df.sort_values('年齢', ascending=False)

   ID  名前  年齢 性別    担当     趣味
2   3  二郎  53  男   ベース     写真
3   4  久志  48  女   ギター  メカニック
4   5  拓郎  28  男   ギター   執筆活動
0   1  輝彦  23  男  ボーカル  ツイッター
1   2   歩  21  女  ボーカル   犬の散歩

##１９：特定列の要素の出現頻度を求め、出現頻度の高い順に並べる

In [ ]:
!tail -n+2 group_pbinfo.csv|cut --delim="," -f5|uniq -c -i|sort -k1 -r -n

      2 ボーカル
      2 ギター
      1 ベース

In [ ]:
!tail -n+2 group_pbinfo.csv|cut --delim="," -f5 | awk '{count[$0]++}END{for(i in count)print count[i], i}'|sort -rnk1

2 ボーカル
2 ギター
1 ベース

In [ ]:
import pandas as pd

df = pd.read_csv('group_pbinfo.csv')
df['担当'].value_counts()

ギター     2
ボーカル    2
ベース     1
Name: 担当, dtype: int64

# 第3章　正規表現

##２０：正規表現を使ったURL抽出

In [ ]:
# 2020/6/20 の神草ツイート５つ

tw_strings = ["""
今日から、100 #numpy  exercisesを始めます！
3. Create a null vector of size 10

a = np.zeros(10)
print(a)

#python
#プログラミング初心者
#Progate
#駆け出しエンジニアと繋がりたい""",
"""
今日から、100 #numpy  exercisesを始めます！

2. Print the numpy version and the configuration

print(np.__version__)
print(np.show_config())

#python
#プログラミング初心者
#Progate
#駆け出しエンジニアと繋がりたい""",
"""
今日から、100 #numpy  exercisesを始めます！
何か勉強してないと落ち着かない勉強中毒になりつつある...

1. Import the numpy package under the name np

import numpy as np

#python
#プログラミング初心者
#Progate
#駆け出しエンジニアと繋がりたい""",
"""
自分は何のために休日も個人開発や書籍書いてるんだろうって思ってたら、竹花さんのスピーチ見つけた。

「好きなことして得た3000円の価値は、好きじゃないことして得た30万円よりも大きい。」

https://youtube.com/watch?v=duv1D2-v4Uc

#python
#プログラミング初心者
#Progate
#駆け出しエンジニアと繋がりたい""",
"""
#JDLA #G検定　2週間後に受けようと思っていて黒本も白本も終わった方はこちらで腕試ししてみてください！

あと一点で合格ということがないように！

225問本番の形式で受けれるサイトです。

http://bit.ly/2QfvJwO

http://amzn.to/2znu2Wp（模試解説）

#駆け出しエンジニアと繋がりたい"""]

import re

pattern1 = r"https?://[a-zA-Z0-9-./?=]*"
pattern2 = r"https?://[\w/:%#\$&\?\(\)~\.=\+\-]+"

print(re.findall(pattern1, "".join(tw_strings)))
print(re.findall(pattern2, "".join(tw_strings)))

['https://youtube.com/watch?v=duv1D2-v4Uc', 'http://bit.ly/2QfvJwO', 'http://amzn.to/2znu2Wp']
['https://youtube.com/watch?v=duv1D2-v4Uc', 'http://bit.ly/2QfvJwO', 'http://amzn.to/2znu2Wp']

## ２１：JSONデータの読み込み

In [ ]:
import requests
import json
import urllib

title = "新型コロナウイルス"
params = {
    "action": "parse",
    "format": "json",
    "page": title,
    "prop": "wikitext",
    "formatversion":2
}
url = "https://ja.wikipedia.org/w/api.php"
headers = {"content-type": "application/json"}
r = requests.get(url=url, params=params, headers=headers)
data = r.json()

print(json.dumps(data, indent=4, ensure_ascii=False))

{
    "parse": {
        "title": "新型コロナウイルス",
        "pageid": 4070991,
        "wikitext": "'''新型コロナウイルス'''（しんがたコロナウイルス、{{lang-en|Novel coronavirus, nCoV}}）とは、[[コロナウイルス科]]ウイルスのうち、新型のもの。特に[[ヒトコロナウイルス]]について良く用いられる。別称「'''新型コロナ'''」。\n\n== 2020年現在新型コロナウイルスと広く呼称されるもの ==\n*'''[[重症急性呼吸器症候群コロナウイルス2型|2019新型コロナウイルス]]'''（2019-nCoV, SARS-CoV-2） - 2019年11月に初感染者が出て、2020年1月に新型の[[コロナウイルス]]であることが確認された。日本語ではSARSコロナウイルス-2とも表記される。\n** [[新型コロナウイルス感染症 (2019年)|新型コロナウイルス感染症]]（COVID-19） - 上記のウイルスにより引き起こされるこの[[病気|疾患]]（[[気道感染|呼吸器疾患]]等症状）そのものを単に指す場合もある。<!--SARS、MERSの場合はそのまま疾患名称が一般で広く使われたが、COVID-19は現状あまり広まっていない。-->「[[新型コロナウイルス感染症の流行 (2019年-)]]」も参照。\n<!--\n** また、2020年3月までに[[パンデミック|世界的に感染が拡大]]している事態そのものを指す場合もある。 →「[[新型コロナウイルス感染症の流行 (2019年-)]]」を参照-->\n** その他の関連する事項は「[[:Category:2019新型コロナウイルス感染症]]」を参照。\n\n== 当初は新型コロナウイルスと呼ばれていたもの ==\n{{出典の明記|date=2020年4月|section=1|以下のウイルスが「当初は新型コロナウイルスと呼ばれていた 」ことを証明する出典が提示されていない。}}\n\n* 2002年 '''[[SARSコロナウイルス]]'''（SARS-CoV）<ref>田口文広「[https://doi.org/10.2222/jsv.53.201 SARSコロナウイルス]」『ウイルス』 第53巻 第2号, p.201-209, 2003年, 日本ウイルス学会, {{doi|10.2222/jsv.53.201}} で「従来とは異なるタイプの新たなコロナウイルス」との表現がある。</ref> - 2002年11月頃から2003年7月にかけて流行した[[重症急性呼吸器症候群]]（SARS）の原因となるウイルス。\n* 2005年 [[ヒトコロナウイルスHKU1]]（HCoV-HKU1）\n* 2012年 '''[[MERSコロナウイルス]]'''（MERS-CoV）- 2012年7月に[[エラスムス大学医療センター]]でコロナウイルスが分離されたため、当初はHCoV-EMC（Human coronavirus- Erasmus Medical Center, ヒトコロナウイルス-エラスムス大学医療センター）とも呼ばれていた<ref name=mizt>水谷哲也,「[https://doi.org/10.2222/jsv.63.1 新種のコロナウイルス]」『ウイルス』 63巻 1号，p.1-6, 2013年, 日本ウイルス学会, {{doi|10.2222/jsv.63.1}}。</ref>。当初は「新型コロナウイルス」等と呼ばれていた<ref name=mizt/>が、2013年5月に[[国際ウイルス分類委員会]]が[[病原体]]名を「Middle East respiratory syndrome coronavirus (MERS-CoV)」と命名<ref>[http://jvi.asm.org/content/early/2013/05/08/JVI.01244-13.full.pdf Middle East Respiratory Syndrome Coronavirus (MERS-CoV); Announcement of the Coronavirus Study Group] Journal of Virology, Published ahead of print 15 May 2013, doi: 10.1128/JVI.01244-13</ref>、WHOの決定を受けて<ref>[http://www.who.int/entity/csr/disease/coronavirus_infections/NamingCoV_28May13.pdf Naming of the Novel Coronavirus] WHO, 28 May 2013</ref>、厚生労働省はウイルスの名称をMERS（マーズ）コロナウイルスと名付け、感染症名を[[中東呼吸器症候群]]（MERS）と決定した<ref>[http://www.mhlw.go.jp/stf/houdou/2r98520000032vm4.html アラビア半島諸国で発生が報告されている新種のコロナウイルスによる感染症の呼称について] 厚生労働省平成25年5月24日</ref>。\n\n== 脚注 ==\n{{Reflist}}\n\n== 関連項目 ==\n* [[コロナウイルス感染症]]\n* [[新型肺炎]]\n\n{{aimai}}\n{{デフォルトソート:しんかたころなういるす}}\n[[Category:コロナウイルス]]"
    }
}

##２２： 記事本文の抽出

### 解法1

In [ ]:
data["parse"]["wikitext"]

"'''新型コロナウイルス'''（しんがたコロナウイルス、{{lang-en|Novel coronavirus, nCoV}}）とは、[[コロナウイルス科]]ウイルスのうち、新型のもの。特に[[ヒトコロナウイルス]]について良く用いられる。別称「'''新型コロナ'''」。\n\n== 2020年現在新型コロナウイルスと広く呼称されるもの ==\n*'''[[重症急性呼吸器症候群コロナウイルス2型|2019新型コロナウイルス]]'''（2019-nCoV, SARS-CoV-2） - 2019年11月に初感染者が出て、2020年1月に新型の[[コロナウイルス]]であることが確認された。日本語ではSARSコロナウイルス-2とも表記される。\n** [[新型コロナウイルス感染症 (2019年)|新型コロナウイルス感染症]]（COVID-19） - 上記のウイルスにより引き起こされるこの[[病気|疾患]]（[[気道感染|呼吸器疾患]]等症状）そのものを単に指す場合もある。<!--SARS、MERSの場合はそのまま疾患名称が一般で広く使われたが、COVID-19は現状あまり広まっていない。-->「[[新型コロナウイルス感染症の流行 (2019年-)]]」も参照。\n<!--\n** また、2020年3月までに[[パンデミック|世界的に感染が拡大]]している事態そのものを指す場合もある。 →「[[新型コロナウイルス感染症の流行 (2019年-)]]」を参照-->\n** その他の関連する事項は「[[:Category:2019新型コロナウイルス感染症]]」を参照。\n\n== 当初は新型コロナウイルスと呼ばれていたもの ==\n{{出典の明記|date=2020年4月|section=1|以下のウイルスが「当初は新型コロナウイルスと呼ばれていた 」ことを証明する出典が提示されていない。}}\n\n* 2002年 '''[[SARSコロナウイルス]]'''（SARS-CoV）<ref>田口文広「[https://doi.org/10.2222/jsv.53.201 SARSコロナウイルス]」『ウイルス』 第53巻 第2号, p.201-209, 2003年, 日本ウイルス学会, {{doi|10.2222/jsv.53.201}} で「従来とは異なるタイプの新たなコロナウイルス」との表現がある。</ref> - 2002年11月頃から2003年7月にかけて流行した[[重症急性呼吸器症候群]]（SARS）の原因となるウイルス。\n* 2005年 [[ヒトコロナウイルスHKU1]]（HCoV-HKU1）\n* 2012年 '''[[MERSコロナウイルス]]'''（MERS-CoV）- 2012年7月に[[エラスムス大学医療センター]]でコロナウイルスが分離されたため、当初はHCoV-EMC（Human coronavirus- Erasmus Medical Center, ヒトコロナウイルス-エラスムス大学医療センター）とも呼ばれていた<ref name=mizt>水谷哲也,「[https://doi.org/10.2222/jsv.63.1 新種のコロナウイルス]」『ウイルス』 63巻 1号，p.1-6, 2013年, 日本ウイルス学会, {{doi|10.2222/jsv.63.1}}。</ref>。当初は「新型コロナウイルス」等と呼ばれていた<ref name=mizt/>が、2013年5月に[[国際ウイルス分類委員会]]が[[病原体]]名を「Middle East respiratory syndrome coronavirus (MERS-CoV)」と命名<ref>[http://jvi.asm.org/content/early/2013/05/08/JVI.01244-13.full.pdf Middle East Respiratory Syndrome Coronavirus (MERS-CoV); Announcement of the Coronavirus Study Group] Journal of Virology, Published ahead of print 15 May 2013, doi: 10.1128/JVI.01244-13</ref>、WHOの決定を受けて<ref>[http://www.who.int/entity/csr/disease/coronavirus_infections/NamingCoV_28May13.pdf Naming of the Novel Coronavirus] WHO, 28 May 2013</ref>、厚生労働省はウイルスの名称をMERS（マーズ）コロナウイルスと名付け、感染症名を[[中東呼吸器症候群]]（MERS）と決定した<ref>[http://www.mhlw.go.jp/stf/houdou/2r98520000032vm4.html アラビア半島諸国で発生が報告されている新種のコロナウイルスによる感染症の呼称について] 厚生労働省平成25年5月24日</ref>。\n\n== 脚注 ==\n{{Reflist}}\n\n== 関連項目 ==\n* [[コロナウイルス感染症]]\n* [[新型肺炎]]\n\n{{aimai}}\n{{デフォルトソート:しんかたころなういるす}}\n[[Category:コロナウイルス]]"

### 解法2

In [ ]:
import re
wikitext = re.search(r'wikitext":(.*?)\n', ''.join(json.dumps(data, indent=4, ensure_ascii=False)))
wikitext.group(1)

' "\'\'\'新型コロナウイルス\'\'\'（しんがたコロナウイルス、{{lang-en|Novel coronavirus, nCoV}}）とは、[[コロナウイルス科]]ウイルスのうち、新型のもの。特に[[ヒトコロナウイルス]]について良く用いられる。別称「\'\'\'新型コロナ\'\'\'」。\\n\\n== 2020年現在新型コロナウイルスと広く呼称されるもの ==\\n*\'\'\'[[重症急性呼吸器症候群コロナウイルス2型|2019新型コロナウイルス]]\'\'\'（2019-nCoV, SARS-CoV-2） - 2019年11月に初感染者が出て、2020年1月に新型の[[コロナウイルス]]であることが確認された。日本語ではSARSコロナウイルス-2とも表記される。\\n** [[新型コロナウイルス感染症 (2019年)|新型コロナウイルス感染症]]（COVID-19） - 上記のウイルスにより引き起こされるこの[[病気|疾患]]（[[気道感染|呼吸器疾患]]等症状）そのものを単に指す場合もある。<!--SARS、MERSの場合はそのまま疾患名称が一般で広く使われたが、COVID-19は現状あまり広まっていない。-->「[[新型コロナウイルス感染症の流行 (2019年-)]]」も参照。\\n<!--\\n** また、2020年3月までに[[パンデミック|世界的に感染が拡大]]している事態そのものを指す場合もある。 →「[[新型コロナウイルス感染症の流行 (2019年-)]]」を参照-->\\n** その他の関連する事項は「[[:Category:2019新型コロナウイルス感染症]]」を参照。\\n\\n== 当初は新型コロナウイルスと呼ばれていたもの ==\\n{{出典の明記|date=2020年4月|section=1|以下のウイルスが「当初は新型コロナウイルスと呼ばれていた 」ことを証明する出典が提示されていない。}}\\n\\n* 2002年 \'\'\'[[SARSコロナウイルス]]\'\'\'（SARS-CoV）<ref>田口文広「[https://doi.org/10.2222/jsv.53.201 SARSコロナウイルス]」『ウイルス』 第53巻 第2号, p.201-209, 2003年, 日本ウイルス学会, {{doi|10.2222/jsv.53.201}} で「従来とは異なるタイプの新たなコロナウイルス」との表現がある。</ref> - 2002年11月頃から2003年7月にかけて流行した[[重症急性呼吸器症候群]]（SARS）の原因となるウイルス。\\n* 2005年 [[ヒトコロナウイルスHKU1]]（HCoV-HKU1）\\n* 2012年 \'\'\'[[MERSコロナウイルス]]\'\'\'（MERS-CoV）- 2012年7月に[[エラスムス大学医療センター]]でコロナウイルスが分離されたため、当初はHCoV-EMC（Human coronavirus- Erasmus Medical Center, ヒトコロナウイルス-エラスムス大学医療センター）とも呼ばれていた<ref name=mizt>水谷哲也,「[https://doi.org/10.2222/jsv.63.1 新種のコロナウイルス]」『ウイルス』 63巻 1号，p.1-6, 2013年, 日本ウイルス学会, {{doi|10.2222/jsv.63.1}}。</ref>。当初は「新型コロナウイルス」等と呼ばれていた<ref name=mizt/>が、2013年5月に[[国際ウイルス分類委員会]]が[[病原体]]名を「Middle East respiratory syndrome coronavirus (MERS-CoV)」と命名<ref>[http://jvi.asm.org/content/early/2013/05/08/JVI.01244-13.full.pdf Middle East Respiratory Syndrome Coronavirus (MERS-CoV); Announcement of the Coronavirus Study Group] Journal of Virology, Published ahead of print 15 May 2013, doi: 10.1128/JVI.01244-13</ref>、WHOの決定を受けて<ref>[http://www.who.int/entity/csr/disease/coronavirus_infections/NamingCoV_28May13.pdf Naming of the Novel Coronavirus] WHO, 28 May 2013</ref>、厚生労働省はウイルスの名称をMERS（マーズ）コロナウイルスと名付け、感染症名を[[中東呼吸器症候群]]（MERS）と決定した<ref>[http://www.mhlw.go.jp/stf/houdou/2r98520000032vm4.html アラビア半島諸国で発生が報告されている新種のコロナウイルスによる感染症の呼称について] 厚生労働省平成25年5月24日</ref>。\\n\\n== 脚注 ==\\n{{Reflist}}\\n\\n== 関連項目 ==\\n* [[コロナウイルス感染症]]\\n* [[新型肺炎]]\\n\\n{{aimai}}\\n{{デフォルトソート:しんかたころなういるす}}\\n[[Category:コロナウイルス]]"'

[wikiマークアップ早見表])

##２３：カテゴリ名を抽出

In [ ]:
categories = re.findall(r'\[\[:?Category:?(.*?)]]', data['parse']['wikitext'])
print(categories)

['2019新型コロナウイルス感染症', 'コロナウイルス']

##２４：セクション構造

In [ ]:
sections = re.findall(r"(={2,})\s*(.+?)\s*\1", data['parse']['wikitext'])
for section in sections:
    print(f'{section[1]}:{len(section[0])}')

2020年現在新型コロナウイルスと広く呼称されるもの:2
当初は新型コロナウイルスと呼ばれていたもの:2
脚注:2
関連項目:2

##２５：強調された単語の抽出

In [ ]:
import re
strongs = re.findall(r"(\'{3,5})(.+?)(\1)", data['parse']['wikitext'])
for emp in strongs:
  if len(emp[0]) == 3:
    print(f"強調：{emp[1]}")
  else:
    print(f"斜体と強調：{emp[1]}")

強調：新型コロナウイルス
強調：新型コロナ
強調：[[重症急性呼吸器症候群コロナウイルス2型|2019新型コロナウイルス]]
強調：[[SARSコロナウイルス]]
強調：[[MERSコロナウイルス]]

##２６： 強調マークアップの除去

記事から「カテゴリ名」「セクション」「強調」「斜体と強調」のマークアップを削除してください。

In [ ]:
import re

a = re.sub(r"\[\[:?Category:?.*?\]\]","", data['parse']['wikitext'])
a = re.sub(r"(={2,})\s*(.+?)\s*\1","", a)
a = re.sub(r"'{2,5}", "", a)

print(a)

新型コロナウイルス（しんがたコロナウイルス、{{lang-en|Novel coronavirus, nCoV}}）とは、[[コロナウイルス科]]ウイルスのうち、新型のもの。特に[[ヒトコロナウイルス]]について良く用いられる。別称「新型コロナ」。


*[[重症急性呼吸器症候群コロナウイルス2型|2019新型コロナウイルス]]（2019-nCoV, SARS-CoV-2） - 2019年11月に初感染者が出て、2020年1月に新型の[[コロナウイルス]]であることが確認された。日本語ではSARSコロナウイルス-2とも表記される。
** [[新型コロナウイルス感染症 (2019年)|新型コロナウイルス感染症]]（COVID-19） - 上記のウイルスにより引き起こされるこの[[病気|疾患]]（[[気道感染|呼吸器疾患]]等症状）そのものを単に指す場合もある。<!--SARS、MERSの場合はそのまま疾患名称が一般で広く使われたが、COVID-19は現状あまり広まっていない。-->「[[新型コロナウイルス感染症の流行 (2019年-)]]」も参照。
<!--
** また、2020年3月までに[[パンデミック|世界的に感染が拡大]]している事態そのものを指す場合もある。 →「[[新型コロナウイルス感染症の流行 (2019年-)]]」を参照-->
** その他の関連する事項は「」を参照。


{{出典の明記|date=2020年4月|section=1|以下のウイルスが「当初は新型コロナウイルスと呼ばれていた 」ことを証明する出典が提示されていない。}}

* 2002年 [[SARSコロナウイルス]]（SARS-CoV）<ref>田口文広「[https://doi.org/10.2222/jsv.53.201 SARSコロナウイルス]」『ウイルス』 第53巻 第2号, p.201-209, 2003年, 日本ウイルス学会, {{doi|10.2222/jsv.53.201}} で「従来とは異なるタイプの新たなコロナウイルス」との表現がある。</ref> - 2002年11月頃から2003年7月にかけて流行した[[重症急性呼吸器症候群]]（SARS）の原因となるウイルス。
* 2005年 [[ヒトコロナウイルスHKU1]]（HCoV-HKU1）
* 2012年 [[MERSコロナウイルス]]（MERS-CoV）- 2012年7月に[[エラスムス大学医療センター]]でコロナウイルスが分離されたため、当初はHCoV-EMC（Human coronavirus- Erasmus Medical Center, ヒトコロナウイルス-エラスムス大学医療センター）とも呼ばれていた<ref name=mizt>水谷哲也,「[https://doi.org/10.2222/jsv.63.1 新種のコロナウイルス]」『ウイルス』 63巻 1号，p.1-6, 2013年, 日本ウイルス学会, {{doi|10.2222/jsv.63.1}}。</ref>。当初は「新型コロナウイルス」等と呼ばれていた<ref name=mizt/>が、2013年5月に[[国際ウイルス分類委員会]]が[[病原体]]名を「Middle East respiratory syndrome coronavirus (MERS-CoV)」と命名<ref>[http://jvi.asm.org/content/early/2013/05/08/JVI.01244-13.full.pdf Middle East Respiratory Syndrome Coronavirus (MERS-CoV); Announcement of the Coronavirus Study Group] Journal of Virology, Published ahead of print 15 May 2013, doi: 10.1128/JVI.01244-13</ref>、WHOの決定を受けて<ref>[http://www.who.int/entity/csr/disease/coronavirus_infections/NamingCoV_28May13.pdf Naming of the Novel Coronavirus] WHO, 28 May 2013</ref>、厚生労働省はウイルスの名称をMERS（マーズ）コロナウイルスと名付け、感染症名を[[中東呼吸器症候群]]（MERS）と決定した<ref>[http://www.mhlw.go.jp/stf/houdou/2r98520000032vm4.html アラビア半島諸国で発生が報告されている新種のコロナウイルスによる感染症の呼称について] 厚生労働省平成25年5月24日</ref>。


{{Reflist}}


* [[コロナウイルス感染症]]
* [[新型肺炎]]

{{aimai}}
{{デフォルトソート:しんかたころなういるす}}

##２７： 不要な記号やリンクなどの除去

In [ ]:
b = re.sub(r"\[\[(?:[^|]*?\|)*?([^|]*?)\]\]", r"\1", a)
b = re.sub(r"\[(.+?)\]","", b)
b = re.sub(r"「」","", b)
b = re.sub(r"\<!\-\-.+?\-\-\>","", b)
b = re.sub(r"\{\{(.+?)\}\}","", b)
b = re.sub("\n", "", b)
b = re.sub("\*+?", "", b)
b = re.sub("\<.+?\>(.*?)</.+?\>", "\1", b)
b = re.sub("\<.+?\>", "", b)
b

'新型コロナウイルス（しんがたコロナウイルス、）とは、コロナウイルス科ウイルスのうち、新型のもの。特にヒトコロナウイルスについて良く用いられる。別称「新型コロナ」。2019新型コロナウイルス（2019-nCoV, SARS-CoV-2） - 2019年11月に初感染者が出て、2020年1月に新型のコロナウイルスであることが確認された。日本語ではSARSコロナウイルス-2とも表記される。 新型コロナウイルス感染症（COVID-19） - 上記のウイルスにより引き起こされるこの疾患（呼吸器疾患等症状）そのものを単に指す場合もある。「新型コロナウイルス感染症の流行 (2019年-)」も参照。\x01 - 2002年11月頃から2003年7月にかけて流行した重症急性呼吸器症候群（SARS）の原因となるウイルス。 2005年 ヒトコロナウイルスHKU1（HCoV-HKU1） 2012年 MERSコロナウイルス（MERS-CoV）- 2012年7月にエラスムス大学医療センターでコロナウイルスが分離されたため、当初はHCoV-EMC（Human coronavirus- Erasmus Medical Center, ヒトコロナウイルス-エラスムス大学医療センター）とも呼ばれていた\x01。当初は「新型コロナウイルス」等と呼ばれていた\x01、WHOの決定を受けて\x01、厚生労働省はウイルスの名称をMERS（マーズ）コロナウイルスと名付け、感染症名を中東呼吸器症候群（MERS）と決定した\x01。 コロナウイルス感染症 新型肺炎'

## ２８：名詞句の抽出

In [ ]:
!pip install janome

Collecting janome
  Downloading https://files.pythonhosted.org/packages/79/f0/bd7f90806132d7d9d642d418bdc3e870cfdff5947254ea3cab27480983a7/Janome-0.3.10-py2.py3-none-any.whl (21.5MB)
     |████████████████████████████████| 21.5MB 54.7MB/s
Installing collected packages: janome
Successfully installed janome-0.3.10

In [ ]:
from janome.tokenizer import Tokenizer
t = Tokenizer()
l = []
for token in t.tokenize(b):
    rows = str(token).split('\n')
    for row in rows:
      colsa = row.split('\t')
      colsb = colsa[1].split(',')
      if colsb[0] == '名詞':
        l.append(colsa[0])
print(l)

['新型', 'コロナ', 'ウイルス', 'しん', 'コロナ', 'ウイルス', 'コロナ', 'ウイルス', '科', 'ウイルス', 'うち', '新型', 'もの', 'ヒトコロナウイルス', '別称', '新型', 'コロナ', '2019', '新型', 'コロナ', 'ウイルス', '2019', '-', 'nCoV', ',', 'SARS', '-', 'CoV', '-', '2', '-', '2019', '年', '11', '月', '初感染', '者', '2020', '年', '1', '月', '新型', 'コロナ', 'ウイルス', 'こと', '確認', '日本語', 'SARS', 'コロナ', 'ウイルス', '-', '2', '表記', '新型', 'コロナ', 'ウイルス', '感染', '症', 'COVID', '-', '19', '-', '上記', 'ウイルス', '疾患', '呼吸', '器', '疾患', '等', '症状', 'そのもの', '場合', '新型', 'コロナ', 'ウイルス', '感染', '症', '流行', '(', '2019', '年', '-)」', '参照', '-', '2002', '年', '11', '月頃', '2003', '年', '7', '月', '流行', '重症', '急性', '呼吸', '器', '症候群', 'SARS', '原因', 'ウイルス', '2005', '年', 'ヒトコロナウイルス', 'HKU', '1', 'HCoV', '-', 'HKU', '1', '2012', '年', 'MERS', 'コロナ', 'ウイルス', 'MERS', '-', 'CoV', '）-', '2012', '年', '7', '月', 'エラスムス', '大学', '医療', 'センター', 'コロナ', 'ウイルス', '分離', 'ため', '当初', 'HCoV', '-', 'EMC', 'Human', 'coronavirus', '-', 'Erasmus', 'Medical', 'Center', ',', 'ヒトコロナウイルス', '-', 'エラスムス', '大学', '医療', 'センター', '当初', '新型', 'コロナ', 'ウイルス', '等', 'WHO', '決定', '厚生', '労働省', 'ウイルス', '名称', 'MERS', 'マーズ', 'コロナ', 'ウイルス', '感染', '症', '名', '中東', '呼吸', '器', '症候群', 'MERS', '決定', 'コロナ', 'ウイルス', '感染', '症', '新型', '肺炎']

In [ ]:
from janome.tokenizer import Tokenizer

t = Tokenizer()
s = 'すもももももももものうち'
for token in t.tokenize(s):
  print(type(token))
  print(token)

<class 'janome.tokenizer.Token'>
すもも	名詞,一般,*,*,*,*,すもも,スモモ,スモモ
<class 'janome.tokenizer.Token'>
も	助詞,係助詞,*,*,*,*,も,モ,モ
<class 'janome.tokenizer.Token'>
もも	名詞,一般,*,*,*,*,もも,モモ,モモ
<class 'janome.tokenizer.Token'>
も	助詞,係助詞,*,*,*,*,も,モ,モ
<class 'janome.tokenizer.Token'>
もも	名詞,一般,*,*,*,*,もも,モモ,モモ
<class 'janome.tokenizer.Token'>
の	助詞,連体化,*,*,*,*,の,ノ,ノ
<class 'janome.tokenizer.Token'>
うち	名詞,非自立,副詞可能,*,*,*,うち,ウチ,ウチ

## ２９：名詞の頻度集計

In [ ]:
dic = {}
for r in l:
  if r in dic:
    dic[r] += 1
  else:
    dic[r] = 1
print(sorted(dic.items(), key=lambda x:-x[1]))

[('ウイルス', 17), ('コロナ', 14), ('-', 13), ('新型', 9), ('年', 8), ('2019', 4), ('月', 4), ('感染', 4), ('症', 4), ('MERS', 4), ('ヒトコロナウイルス', 3), ('SARS', 3), ('1', 3), ('呼吸', 3), ('器', 3), (',', 2), ('CoV', 2), ('2', 2), ('11', 2), ('疾患', 2), ('等', 2), ('流行', 2), ('7', 2), ('症候群', 2), ('HKU', 2), ('HCoV', 2), ('2012', 2), ('エラスムス', 2), ('大学', 2), ('医療', 2), ('センター', 2), ('当初', 2), ('決定', 2), ('しん', 1), ('科', 1), ('うち', 1), ('もの', 1), ('別称', 1), ('nCoV', 1), ('初感染', 1), ('者', 1), ('2020', 1), ('こと', 1), ('確認', 1), ('日本語', 1), ('表記', 1), ('COVID', 1), ('19', 1), ('上記', 1), ('症状', 1), ('そのもの', 1), ('場合', 1), ('(', 1), ('-)」', 1), ('参照', 1), ('2002', 1), ('月頃', 1), ('2003', 1), ('重症', 1), ('急性', 1), ('原因', 1), ('2005', 1), ('）-', 1), ('分離', 1), ('ため', 1), ('EMC', 1), ('Human', 1), ('coronavirus', 1), ('Erasmus', 1), ('Medical', 1), ('Center', 1), ('WHO', 1), ('厚生', 1), ('労働省', 1), ('名称', 1), ('マーズ', 1), ('名', 1), ('中東', 1), ('肺炎', 1)]

In [ ]:
def square(n):
  return n**2
squarel = lambda x:x**2
print(square(2))
print(squarel(2))

In [ ]:
x = ''.join(tw_strings)
print(x)