<a href="https://colab.research.google.com/github/yskkwi/adding-up/blob/master/%E7%AB%B6%E3%83%97%E3%83%AD_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a, b = map(int,input().split())
print(a + b + 3)

 2 3
8

In [ ]:
a = int(input())
b = int(input())
c = int(input())

p =[a, b, c]
p.sort()
if p[0] + p[1] == p[2]:
    print(1)
else:
    print(0)

3
9
4
0

In [ ]:
N = int(input())
s =input()
t = input()
cnt = 0

a = [x for x in list(s)]
b = [x for x in list(t)]

for i in range(N):
    if a[i] != b[i]:
        cnt += 1
print(cnt)

3
abc
abc
0

In [ ]:
N = int(input())
a = [*map(int,input().split())]

for i in range(10):
    for k in range(N):
        if a[k] == i:
            print(i)
            break

8
2 0 2 3 0 9 1 6
0
1
2
3
6
9

In [ ]:
N = int(input())
if N % 7 == 2:
    print(1)
else:
    print(0)

100
1

In [ ]:
K = int(input())
N = int(input())

a = map(int, input().split())

M = int(input())

b = map(int,input().split())

a = list(a)
b = list(b)

cnt = 0

for i in range(N):
    for j in range(M):
        if a[i] + K == b[j]:
            cnt += 1

print(cnt)

99
5
1 1 1 1 1
6
100 100 100 100 100 100
30

In [ ]:
S = 'ABCDE'
N = len(S) + 2
a = '+'
print(a * N)
print('+' + S + '+')
print(a * N)

+++++++
+ABCDE+
+++++++

In [ ]:
s = input()
a = list(s)
b = []
for i in range(len(a)):
    if a[i]!='a' and a[i]!='e' and a[i]!='i' and a[i]!='o' and a[i]!='u' and a[i]!='A' and a[i]!='E' and a[i]!='I' and a[i]!='O' and a[i]!='U':
       b.append(a[i])

b = ''.join(b)
print(b)

atrE
tr

In [ ]:

s = input()
b = list(s)
print(''.join(c for c in b if c not in 'aeiouAEIOU'))
print(''.join(c for c in b if c in 'aeiouAEIOU'))

AsreFtOIu
srFt
AeOIu

In [ ]:
s = input()
print(''.join(c for c in s if c not in 'aeiouAEIOU'))

Hello World Year
Hll Wrld Yr

In [ ]:
nums = [1, 2, 1, 2, 3, 2, 4, 5,]
nums_unique = list(set(nums))
print(nums_unique)

a = [str(i) for i in nums_unique]
print(a)
print(''.join(a))

[1, 2, 3, 4, 5]
['1', '2', '3', '4', '5']
12345

In [ ]:
txt = ['a', 'b', 'a', 'b', 'c', 'b', 'd', 'e']
txt_unique = sorted(set(txt), key=txt.index)
print(txt_unique)

print(''.join(txt_unique))

['a', 'b', 'c', 'd', 'e']
abcde

In [ ]:
from collections import OrderedDict
a_str = 'aaaffggaahhaaaa'
print(''.join(OrderedDict.fromkeys(a_str)))

afgh

In [ ]:
X = 3
N = 4
count = 0

while X < N:
    if X % 3 == 0:
        X = X + 1
    elif X % 3 == 1:
        X = X * 2
    else:
        X = X * 3
    count += 1

print(count)

1

In [ ]:
N = int(input())

if N % 10 == N // 10:
    print(1)
else:
    print(0)

10
0

In [ ]:
N = int(input())
count = 0
for i in range(N):
    x , y  = map(str,input().split())
    if (x == 'G' and y == 'C' ) or (x =='C' and y== 'P') or (x == 'P' and y == 'G'):
        count += 1

print(count)

8
G C
P C
C G
G C
G P
P G
C C
C P
4

In [ ]:
N, x, y = map(int,input().split())

for i in range(1,N+1):
    if i % x == 0 and i % y == 0:
        print('AB')
    elif i % x == 0:
        print('A')
    elif i % y == 0:
        print('B')
    else:
        print('N')

 6 3 2
N
B
A
B
N
AB

In [ ]:
N, L = map(int,input().split())

for i in range(N):
    x = int(input())
    if L > x:
        L = L + x // 2
    elif L < x:
        L = L // 2
print(L)

3 9
10
4
4
4

In [ ]:
n, m = map(int,input().split())
count = 0
50


for i in range(n-1):
    p = int(input())
    if p <= m:
        count += p

print(count)

4 30
10
20
25
55

In [ ]:
s = input()
n = int(input())
a = []
for i in range(n):
    sentence = input()
    if s in sentence:
        a.append('Yes')

    else:
        a.append('No')
for i in a:
    print(i)

51x8
5
JeURgwGqr PInzkAatxAEhs51x8
OLxiu!TR0wyafgp?cdSeuO4IF3
rwwLTTb$$g5v51x8TvQyMeiiP BDYDEcRV
CNZ9e8A!LFMsl!ZFsv nBdy3
kk Ulzd:RnOzDGo1
Yes
No
Yes
No
No

In [ ]:
n, d = map(int,input().split())
x = d
for i in range(n-1):
    z = int(input())
    x = x + d - z

print(d * x)

4 10
3
4
5
280

In [ ]:
q, r = 7 // 3, 7 % 3
print(f'q: {q}, r: {r}')  # q: 2, r: 1

q: 2, r: 1

In [ ]:
q, r = -7 // 3, -7 % 3
print(f'q: {q}, r: {r}')  # q: 2, r: 1

q: -3, r: 2

In [ ]:
N = int(input())
a = list(map(int,input().split()))
M = int(input())
b = list(map(int,input().split()))

sc = 0
for i in range(N):
    sc = sc +a[i]
    for j in range(M):
        if b[j] == sc:
            sc =0
print(sc)

2
10 10
3
1 11 111
20

In [ ]:
S = input()
N = int(input())
t = map(str,input().split())

if S in t:
    print('Yes')
else:
    print('No')

udon
4
hot pad thai noodles
No

In [ ]:
import math

N = int(input())

a = list(map(int,input().split()))

b = math.ceil(sum(a) / N) # math.ceil()は，小数点以下切り上げ，切り下げはmath.floor()


print(b)

6
4 8 7 2 8 9
7

In [ ]:
n, l = map(int,input().split())
u = list(map(int,input().split()))
u.sort(reverse=True)
m = max(u)
s = 0

if m >= l:
    del u[0]
    s = m//2 + sum(u)

else:
    s = sum(u)

print(s)

3 200
10 20 180
[180, 20, 10]
210

In [ ]:
n, m = map(int,input().split())
a, b, c = map(int,input().split())
cnt = 0
for i in range(n):
    r = int(input())
    if r * c - a - b * m < 0:
        cnt += 1

print(cnt)

4 3
2556 3424 77
137
721
984
999
1

In [ ]:
s = input()
sl = list(s)

for i in range(len(sl)-1,0,-1):
    if sl[i-1] == sl[i] and sl[i] == '-':
        del sl[i]

print(''.join(sl))

-----aaa-a-------a
-aaa-a-a

In [ ]:
import re
s = input()

text = re.sub('[--]+','-', s)
print(text)

----aaaa-aaaaa-----aa--a
-aaaa-aaaaa-aa-a

In [ ]:
s = input()
t = input()


s1 = s.upper() #　文字を比較するために全部大文字に変換
t1 = t.upper()

s2 = list(s1) # 文字を比較するための配列
t2 = list(t1)

s3 =list(s)  # 文字を入れ替えるための配列
t3 = list(t)

for i in range(len(t2)):
    for j in range(len(s2)):
        if t2[i] == s2[j]: #　文字を比較して，同じ文字があれば元の配列の単語を入れ替える
            t3[i]=s3[j]


print(''.join(t3)) #　配列から文字列に戻す

print(s)
print(t)

print(t1)
print(t2)

aBcDeFgHiJkLmNoPqRsTuVwXyZ
Katayama
kaTayama
aBcDeFgHiJkLmNoPqRsTuVwXyZ
Katayama
KATAYAMA
['K', 'A', 'T', 'A', 'Y', 'A', 'M', 'A']

In [ ]:
m = int(input())
cnt = 0

# 要素を全部Noneにしてからいれていく
# a = []　だと， a[i], b[i] = map(str,input().split())のところでエラーが出るみたい
p = [None] * m
a = [None] * m
b = [None] * m


'''
# こちらは，要素を全部0で入れておいて後で書き換えになる
p = [0] * m
a = [0] * m
b = [0] * m
'''

'''
p = []
a = []
b = []
for i in range(m):
    p.append(None)
    a.append(None)
    b.append(None)
'''

for i in range(m):
    a[i], b[i] = map(str,input().split())

for i in range(m):
    if a[i] == 'n' or b[i] == 'n':
        cnt += 1
        p[i] = 'n'
    else:
        p[i] = 'y'

print(cnt)
for i in range(len(p)):
    if p[i] == 'n':
        print(i+1)

4
y n
n y
n n
y y
3
1
2
3

In [ ]:
H, W = map(int, input().split())
A = [[int(x) for x in input().split()] for i in range(H)]
print(A)

2 2
1 2
3 4
[[1, 2], [3, 4]]

In [ ]:
# 標準入力が配列だと思っていたけど，半角スペースがなかったので文字列が正解でした
# そのため，配列として，半角スペース入力として書いたコード．
#　正解は下のコード

H, W = map(int, input().split())
A = [input().split() for _ in range(H)] # 半角スペースを空けて，1行ずつ標準入力


y, x = map(int, input().split())
if A[y][x] == '#':
    A[y][x] = '.'
else:
    A[y][x] = "#"

print(A)

for i in range(H):
    print(''.join(A[i][:W+1]))

3 3
. . .
. . .
. . .
0 0
[['#', '.', '.'], ['.', '.', '.'], ['.', '.', '.']]
#..
...
...

In [ ]:

'''
行数 H , 列数 W の盤面があり、各マスには文字が 1 つだけ書かれています。盤面と y , x 座標 が与えられるので、盤面の与えられた座標の文字が
"." の場合は "#" に、"#" の場合は "." に書き換えた後の盤面を出力してください。

なお、マスの座標系は左上端のマスの座標を ( y , x ) = ( 0 , 0 ) とし、
下方向が y 座標の正の向き、右方向が x 座標の正の向きとします。
'''
H, W = map(int, input().split())

A = [list(input()) for i in range(H)]

y,x = map(int,input().split())
if A[y][x] == '#':
    A[y][x] = '.'
else:
    A[y][x] = '#'

for i in range(H):
    print(''.join(A[i]))

3 3
...
...
...
0 0
#..
...
...

"\nfor i in range(len(A)):\n    for j in range(len(A[i])):\n        print(A[i][j], end='')\n\n        if j < len(A[i]) - 1:\n            print(end='')\n        else:\n            print()\n"

In [ ]:
a = input().split()
for b in a:
    print(b)

print(a)

1 2 3 4 5
1
2
3
4
5
['1', '2', '3', '4', '5']

In [ ]:
a = [1, 3, 5, 4, 6, 2, 1, 7, 1, 5]
k = int(input())

print(a[k-1])

5
6

In [ ]:
''''
マップを表す H 行 W 列の文字列 S_1 ... S_H と y , x 座標 が与えられるので、与えられた座標のマスと上下左右で隣接するマスの最大 5 マスについて次の処理をおこなった後の盤面を出力してください。

・ マスに書かれている文字が "." の場合は "#" に、"#" の場合は "." に書き換える。

なお、マスの座標系は左上端のマスの座標を ( y , x ) = ( 0 , 0 ) とし、
下方向が y 座標の正の向き、右方向が x 座標の正の向きとします。
''''


# 二重配列で，(x,y)の上下左右の文字を反転
# 周りに行と列を追加して，端にいる場合の場合分けを回避
#　その後に追加した端の行と列を削除

H, W = map(int, input().split())
A = [[str(x) for x in input()] for i in range(H)]

y,x = map(int,input().split())

b = ['.'] *W



A.insert(H,b) # 行の追加
A.insert(0, b) # 行の追加

for i in range(0,H+1):  # x=0 のときの場合分け回避で列をもう1つ作る
    A[i].insert(0, '.')

for i in range(0,H+1): # x=W　のときの回避で列をもう一つ作る
    A[i].insert(W+1, '.')


for i in range(x,x+3):
    if A[y+1][i] == '#':
        A[y+1][i] = '.'
    else:
        A[y+1][i] = '#'

if A[y][x+1] == '#':
    A[y][x+1] = '.'
else:
    A[y][x+1] = '#'

if A[y+2][x+1] == '#':
    A[y+2][x+1] = '.'
else:
    A[y+2][x+1] = '#'

del A[0]     # 行の削除
del A[H]     # 行の削除

for row in A:      #列の削除
    del row[0]

for row in A:       # 列の削除
    del row[W]

for i in range(H):
    print(''.join(A[i]))

3 3
...
.#.
###
1 1
.#.
#.#
#.#

In [ ]:
#   縦横斜めの文字の入れ替え
#
#


H, W = map(int, input().split())
A = [[str(x) for x in input()] for i in range(H)]

y,x = map(int,input().split())

i = 1


if A[y][x] == '#':
    A[y][x] = '.'
else:
    A[y][x] = '#'

for j in range(W):
    if A[y][j] == '#':
        A[y][j] = '.'
    else:
        A[y][j] = '#'

for j in range(H):
    if A[j][x] == '#':
        A[j][x] = '.'
    else:
        A[j][x] = '#'


for i in range(min(H,W)):

    if y + i < H:

        if x + i < W:
            if A[y+i][x+i] == '#':
                A[y+i][x+i] = '.'
            else:
                A[y+i][x+i] = '#'

        if 0 <= x -i:
            if A[y+i][x-i] == '#':
                A[y+i][x-i] = '.'
            else:
                A[y+i][x-i] = '#'

    if 0 <= y - i:

        if x + i < W:
            if A[y-i][x+i] == '#':
                A[y-i][x+i] = '.'
            else:
                A[y-i][x+i] = '#'

        if 0 <= x - i:
            if A[y-i][x-i] == '#':
                A[y-i][x-i] = '.'
            else:
                A[y-i][x-i] = '#'






for j in range(H):
    print(''.join(A[j]))

In [ ]:
'''
マップの行数 H と列数 W とナンバリングの向き D が与えられるので、(0, 0) から指示通りにナンバリングしたとき、マップ全体にどのように番号が振られるかを出力してください。

ナンバリングの向き D に対応する方向と、例として 3×4 のマップをナンバリングをした結果は以下の通りです。
スタート地点はすべて左上(0,0)から
1 右上に進む　↗
2　右に進む　→
3　下に進む　↓
4　左下に進む　↙
'''



H, W, D =map(int,input().split())
cnt = 1
a = [[0 for x in range(W)] for i in range(H)]

if D == 1:
    a[0][0] = 1
    cnt  += 1

    for i in range(1,H):
        for j in range(min(W-1, i)+1):
            a[i-j][j] = cnt
            cnt += 1
    for i in range(1,W):
        for j in range(min(H,W-i)):
            a[H-1-j][i+j] = cnt
            cnt += 1

elif D == 2:

    for i in range(H):
        for j in range(W):
            a[i][j]= cnt
            cnt +=1

elif D == 3:
    for i in range(W):
        for j in range(H):
            a[j][i] = cnt
            cnt += 1

else:
    a[0][0] = 1
    cnt += 1

    for i in range(1,W):
        for j in range(min(i, H-1)+1):
            a[j][i-j] = cnt
            cnt +=1
    for i in range(1,H):
        for j in range(min(H-i, W)):
            a[i+j][W-1-j] = cnt
            cnt += 1


for i in range(H):
    print(' '.join(map(str,a[i])))

3 4 1
1 3 6 9
2 5 8 11
4 7 10 12

In [ ]:
'''
東京の下町に長テーブルで有名な老舗うなぎ屋がありました。

そのうなぎ屋にはとても大きい長テーブルがあり、テーブルの周りにn個の座席が配置されています。
座席には、時計回りに1, 2, …, nと番号が振られています。
座席はテーブルの周りに配置されているので、座席番号nの座席と1の座席は隣接しています。

今、m個のグループの人達が座席に順番に座りに来ます。i番目(1≦i≦m)のグループの人数をa_i人とします。
彼らは、長テーブルに並んだ座席の内、ある連続するa_i個の座席に一斉に座ろうとします。

ただしお客さんは江戸っ子なので、それら座席のうち、いずれか一つでも既に先客に座られている座席があった場合、
一人も座らずにグループ全員で怒って帰ってしまいます。江戸っ子は気が早いんでぃ。

入力では、i番目のグループが座ろうとする連続した座席の位置は、整数b_iにより指定されます。
i番目のグループは、座席番号b_iの座席を始点として、そこから時計回りにa_i個分の座席に座ろうとします。

最後のグループが座りに来た後、無事に長テーブルの座席に着席出来ている人数を出力するプログラムを作成してください。

入力は以下のフォーマットで与えられます。

n m
a_1 b_1
a_2 b_2
...
a_m b_m
'''

n, m= map(int, input().split())
a = [0]* n
cnt = 0

for i in range(m):
    p, q = map(int,input().split())

    for j in range(p):
        if a[(q+j)%n] != 0:
            break
    else:
        cnt += p
        for k in range(p):
            a[(q+k) % n] = 1
        print(a)

print(cnt)

6 3
3 2
[0, 0, 1, 1, 1, 0]
1 6
[1, 0, 1, 1, 1, 0]
2 5
4

In [ ]:
N = int(input())

for i in range(N):
    n, o, b, s = input().split()
    print('User{')
    print('nickname : ' + n)
    print('old : ' + o)
    print('birth : ' + b)
    print('state : ' +s)
    print('}')

1
koko 23 04/10 tokyo
User{
nickname : koko
old : 23
birth : 04/10
state : tokyo
}

In [ ]:
class Student:
    def __init__(self, name, old, birth, state):
        self.name = name
        self.old = old
        self.birth = birth
        self.state = state


n = int(input())

roster = [None] * n
for i in range(n):
    name, old, birth, state = input().split()
    roster[i] = Student(name, old, birth, state)

k = input()
for student in roster:
    if student.old == k:
        print(student.name)
        break

1
koko 23 04/10 tokyo
23
koko

In [ ]:
n = int(input())
a = [None]*n
for i in range(n):
    a[i] = input().split()

age = int(input())

for i in range(n):
    if str(age) == a[i][1]:
        print(a[i][0])
        break

1
koko 23 4/10 tokyo
23
koko

In [ ]:
class Student:
    def __init__(self, name, old, birth, state):
        self.name = name
        self.old = old
        self.birth = birth
        self.state = state

n = int(input())

a = [None]*n

for i in range(n):
    name, old, birth, state = input().split()
    a[i] = Student(name, old, birth, state)


age = input()

for student in a:
    if student.old == age:
        print(student.name)
        break

1
nono 23 4/10 tk
23
nono
<__main__.Student object at 0x7b11cc94a6d0>

In [ ]:
a = [7,-5,3,5,1,2]
b = sorted(a) # sorted　の場合は，コピーが入るので元のリストは変わらない

print(a)
print(b)

a.sort() #  .sort() 半並び替えを保存

print(a)

c = sorted(a, reverse = True) # sorted(list, reverse =True)はlistを降順に
print(c)
print(a)

a.sort(reverse = True) # list.sort(reverse = True)
print(a)

[7, -5, 3, 5, 1, 2]
[-5, 1, 2, 3, 5, 7]
[-5, 1, 2, 3, 5, 7]
[7, 5, 3, 2, 1, -5]
[-5, 1, 2, 3, 5, 7]
[7, 5, 3, 2, 1, -5]

In [ ]:
n, m = map(int,input().split())

a = [None]*m
b = [None]*m

for i in range(m):
    a[i], b[i] = input().split()

for i in range(m):
    print(a[i]+' '+b[i])

6 3
3 2
['3', None, None] ['2', None, None]
1 6
['3', '1', None] ['2', '6', None]
2 5
['3', '1', '2'] ['2', '6', '5']
3 2
1 6
2 5

In [ ]:
n, m = map(int, input().split())

print(n, m)

for _ in range(m):
    a, b = map(int, input().split())
    print(a, b)

6 3
6 3
3 2
3 2
1 6
1 6
2 5
2 5

In [ ]:
n = int(input())

s = list(input().split())
print(s.count('0'))

6
0 1 0 0 1 0
4

In [ ]:
n = int(input())

s = [int(n) for n in input().split()]
print(s.count(0))
print(s)

6
0 1 0 0 1 0
4
[0, 1, 0, 0, 1, 0]

In [ ]:
n = int(input())
table = [int(n) for n in input().split()]

count = 0

for i in range(n):
    if table[i] == 0:
        count += 1

print(count)